@use "sass:color";

$colors-black: #000000;
$colors-edgy: #3e2a47;
$colors-classy: #7f5f5f;
$colors-ambition: #5a2a83;
$colors-peace: #8b6e8e;
$colors-sad: #4682b4;
$colors-brutal: #ff6347;
$colors-love: #ffb6c1;

$colors-black-primary: $colors-black;
$colors-black-primary-light: color.adjust($colors-black, $lightness: 20%);
$colors-black-primary-very-light: color.adjust($colors-black, $lightness: 70%);
$colors-black-primary-alpha: rgba($colors-black, 0.7);
$colors-black-primary-alpha-light: rgba($colors-black, 0.5);
$colors-black-secondary: #ffffff;
$colors-black-secondary-light: color.adjust(#ffffff, $lightness: 20%);
$colors-black-secondary-very-light: color.adjust(#ffffff, $lightness: 30%);
$colors-black-secondary-alpha: rgba(#ffffff, 0.7);
$colors-black-secondary-alpha-light: rgba(#ffffff, 0.5);
$colors-black-contrast: $colors-brutal;

$colors-edgy-primary: $colors-edgy;
$colors-edgy-primary-light: color.adjust($colors-edgy, $lightness: 20%);
$colors-edgy-primary-very-light: color.adjust($colors-edgy, $lightness: 30%);
$colors-edgy-primary-alpha: rgba($colors-edgy, 0.7);
$colors-edgy-primary-alpha-light: rgba($colors-edgy, 0.5);
$colors-edgy-secondary: #f5f5f5;
$colors-edgy-secondary-light: color.adjust(#f5f5f5, $lightness: 20%);
$colors-edgy-secondary-very-light: color.adjust(#f5f5f5, $lightness: 30%);
$colors-edgy-secondary-alpha: rgba(#f5f5f5, 0.7);
$colors-edgy-secondary-alpha-light: rgba(#f5f5f5, 0.5);
$colors-edgy-contrast: #ffd700;

$colors-classy-primary: $colors-classy;
$colors-classy-primary-light: color.adjust($colors-classy, $lightness: 20%);
$colors-classy-primary-very-light: color.adjust(
    $colors-classy,
    $lightness: 30%
);
$colors-classy-primary-alpha: rgba($colors-classy, 0.7);
$colors-classy-primary-alpha-light: rgba($colors-classy, 0.5);
$colors-classy-secondary: #b0e0e6;
$colors-classy-secondary-light: color.adjust(
    $colors-classy-secondary,
    $lightness: 20%
);
$colors-classy-secondary-very-light: color.adjust(
    $colors-classy-secondary,
    $lightness: 30%
);
$colors-classy-secondary-alpha: rgba($colors-classy-secondary, 0.7);
$colors-classy-secondary-alpha-light: rgba($colors-classy-secondary, 0.5);
$colors-classy-contrast: #ff4500;

$colors-ambition-primary: $colors-ambition;
$colors-ambition-primary-light: color.adjust($colors-ambition, $lightness: 20%);
$colors-ambition-primary-very-light: color.adjust(
    $colors-ambition,
    $lightness: 30%
);
$colors-ambition-primary-alpha: rgba($colors-ambition, 0.7);
$colors-ambition-primary-alpha-light: rgba($colors-ambition, 0.5);
$colors-ambition-secondary: #f0e68c;
$colors-ambition-secondary-light: color.adjust(
    $colors-ambition-secondary,
    $lightness: 20%
);
$colors-ambition-secondary-very-light: color.adjust(
    $colors-ambition-secondary,
    $lightness: 30%
);
$colors-ambition-secondary-alpha: rgba($colors-ambition-secondary, 0.7);
$colors-ambition-secondary-alpha-light: rgba($colors-ambition-secondary, 0.5);
$colors-ambition-contrast: #ff6347;

$colors-peace-primary: $colors-peace;
$colors-peace-primary-light: color.adjust($colors-peace, $lightness: 20%);
$colors-peace-primary-very-light: color.adjust($colors-peace, $lightness: 30%);
$colors-peace-primary-alpha: rgba($colors-peace, 0.7);
$colors-peace-primary-alpha-light: rgba($colors-peace, 0.5);
$colors-peace-secondary: #e0ffff;
$colors-peace-secondary-light: color.adjust(
    $colors-peace-secondary,
    $lightness: 20%
);
$colors-peace-secondary-very-light: color.adjust(
    $colors-peace-secondary,
    $lightness: 30%
);
$colors-peace-secondary-alpha: rgba($colors-peace-secondary, 0.7);
$colors-peace-secondary-alpha-light: rgba($colors-peace-secondary, 0.5);
$colors-peace-contrast: #ff1493;

$colors-sad-primary: $colors-sad;
$colors-sad-primary-light: color.adjust($colors-sad, $lightness: 20%);
$colors-sad-primary-very-light: color.adjust($colors-sad, $lightness: 30%);
$colors-sad-primary-alpha: rgba($colors-sad, 0.7);
$colors-sad-primary-alpha-light: rgba($colors-sad, 0.5);
$colors-sad-secondary: #add8e6;
$colors-sad-secondary-light: color.adjust(
    $colors-sad-secondary,
    $lightness: 20%
);
$colors-sad-secondary-very-light: color.adjust(
    $colors-sad-secondary,
    $lightness: 30%
);
$colors-sad-secondary-alpha: rgba($colors-sad-secondary, 0.7);
$colors-sad-secondary-alpha-light: rgba($colors-sad-secondary, 0.5);
$colors-sad-contrast: #ff4500;

$colors-brutal-primary: $colors-brutal;
$colors-brutal-primary-light: color.adjust($colors-brutal, $lightness: 20%);
$colors-brutal-primary-very-light: color.adjust(
    $colors-brutal,
    $lightness: 30%
);
$colors-brutal-primary-alpha: rgba($colors-brutal, 0.7);
$colors-brutal-primary-alpha-light: rgba($colors-brutal, 0.5);
$colors-brutal-secondary: #ffebcd;
$colors-brutal-secondary-light: color.adjust(
    $colors-brutal-secondary,
    $lightness: 20%
);
$colors-brutal-secondary-very-light: color.adjust(
    $colors-brutal-secondary,
    $lightness: 30%
);
$colors-brutal-secondary-alpha: rgba($colors-brutal-secondary, 0.7);
$colors-brutal-secondary-alpha-light: rgba($colors-brutal-secondary, 0.5);
$colors-brutal-contrast: #4682b4;

$colors-love-primary: $colors-love;
$colors-love-primary-light: color.adjust($colors-love, $lightness: 20%);
$colors-love-primary-very-light: color.adjust($colors-love, $lightness: 30%);
$colors-love-primary-alpha: rgba($colors-love, 0.7);
$colors-love-primary-alpha-light: rgba($colors-love, 0.5);
$colors-love-secondary: #faebd7;
$colors-love-secondary-light: color.adjust(
    $colors-love-secondary,
    $lightness: 20%
);
$colors-love-secondary-very-light: color.adjust(
    $colors-love-secondary,
    $lightness: 30%
);
$colors-love-secondary-alpha: rgba($colors-love-secondary, 0.7);
$colors-love-secondary-alpha-light: rgba($colors-love-secondary, 0.5);
$colors-love-contrast: #4682b4;

:root {
    --colors-primary: #{$colors-black-primary};
    --colors-primary-light: #{$colors-black-primary-light};
    --colors-primary-very-light: #{$colors-black-primary-very-light};
    --colors-primary-alpha: #{$colors-black-primary-alpha};
    --colors-primary-alpha-light: #{$colors-black-primary-alpha-light};
    --colors-secondary: #{$colors-black-secondary};
    --colors-secondary-light: #{$colors-black-secondary-light};
    --colors-secondary-very-light: #{$colors-black-secondary-very-light};
    --colors-secondary-alpha: #{$colors-black-secondary-alpha};
    --colors-secondary-alpha-light: #{$colors-black-secondary-alpha-light};
    --colors-contrast: #{$colors-black-contrast};
}

$colors-primary: var(--colors-primary);
$colors-primary-light: var(--colors-primary-light);
$colors-primary-very-light: var(--colors-primary-very-light);
$colors-primary-alpha: var(--colors-primary-alpha);
$colors-primary-alpha-light: var(--colors-primary-alpha-light);
$colors-secondary: var(--colors-secondary);
$colors-secondary-light: var(--colors-secondary-light);
$colors-secondary-very-light: var(--colors-secondary-very-lightrimary);
$colors-secondary-alpha: var(--colors-secondary-alpha);
$colors-secondary-alpha-light: var(--colors-secondary-alpha-light);
$colors-contrast: var(--colors-contrast);
