@use "./variables/colors" as *;

@mixin theme-main {
    body.theme-main {
        --colors-primary: #{$colors-black};
        --colors-primary-light: #{$colors-black-primary-light};
        --colors-primary-very-light: #{$colors-black-primary-very-light};
        --colors-primary-alpha: #{$colors-black-primary-alpha};
        --colors-primary-alpha-light: #{$colors-black-primary-alpha-light};

        --colors-secondary: #{$colors-black-secondary};
        --colors-secondary-light: #{$colors-black-secondary-light};
        --colors-secondary-very-light: #{$colors-black-secondary-very-light};
        --colors-secondary-alpha: #{$colors-black-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-black-secondary-alpha-light};

        --colors-contrast: #{$colors-brutal};
    }
}

@mixin theme-edgy {
    body.theme-edgy {
        --colors-primary: #{$colors-edgy};
        --colors-primary-light: #{$colors-edgy-primary-light};
        --colors-primary-very-light: #{$colors-edgy-primary-very-light};
        --colors-primary-alpha: #{$colors-edgy-primary-alpha};
        --colors-primary-alpha-light: #{$colors-edgy-primary-alpha-light};

        --colors-secondary: #{$colors-edgy-secondary};
        --colors-secondary-light: #{$colors-edgy-secondary-light};
        --colors-secondary-very-light: #{$colors-edgy-secondary-very-light};
        --colors-secondary-alpha: #{$colors-edgy-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-edgy-secondary-alpha-light};

        --colors-contrast: #{$colors-edgy-contrast};
    }
}

@mixin theme-classy {
    body.theme-classy {
        --colors-primary: #{$colors-classy};
        --colors-primary-light: #{$colors-classy-primary-light};
        --colors-primary-very-light: #{$colors-classy-primary-very-light};
        --colors-primary-alpha: #{$colors-classy-primary-alpha};
        --colors-primary-alpha-light: #{$colors-classy-primary-alpha-light};

        --colors-secondary: #{$colors-classy-secondary};
        --colors-secondary-light: #{$colors-classy-secondary-light};
        --colors-secondary-very-light: #{$colors-classy-secondary-very-light};
        --colors-secondary-alpha: #{$colors-classy-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-classy-secondary-alpha-light};

        --colors-contrast: #{$colors-classy-contrast};
    }
}

@mixin theme-ambition {
    body.theme-ambition {
        --colors-primary: #{$colors-ambition};
        --colors-primary-light: #{$colors-ambition-primary-light};
        --colors-primary-very-light: #{$colors-ambition-primary-very-light};
        --colors-primary-alpha: #{$colors-ambition-primary-alpha};
        --colors-primary-alpha-light: #{$colors-ambition-primary-alpha-light};

        --colors-secondary: #{$colors-ambition-secondary};
        --colors-secondary-light: #{$colors-ambition-secondary-light};
        --colors-secondary-very-light: #{$colors-ambition-secondary-very-light};
        --colors-secondary-alpha: #{$colors-ambition-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-ambition-secondary-alpha-light};

        --colors-contrast: #{$colors-ambition-contrast};
    }
}

@mixin theme-peace {
    body.theme-peace {
        --colors-primary: #{$colors-peace};
        --colors-primary-light: #{$colors-peace-primary-light};
        --colors-primary-very-light: #{$colors-peace-primary-very-light};
        --colors-primary-alpha: #{$colors-peace-primary-alpha};
        --colors-primary-alpha-light: #{$colors-peace-primary-alpha-light};

        --colors-secondary: #{$colors-peace-secondary};
        --colors-secondary-light: #{$colors-peace-secondary-light};
        --colors-secondary-very-light: #{$colors-peace-secondary-very-light};
        --colors-secondary-alpha: #{$colors-peace-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-peace-secondary-alpha-light};

        --colors-contrast: #{$colors-peace-contrast};
    }
}

@mixin theme-sad {
    body.theme-sad {
        --colors-primary: #{$colors-sad};
        --colors-primary-light: #{$colors-sad-primary-light};
        --colors-primary-very-light: #{$colors-sad-primary-very-light};
        --colors-primary-alpha: #{$colors-sad-primary-alpha};
        --colors-primary-alpha-light: #{$colors-sad-primary-alpha-light};

        --colors-secondary: #{$colors-sad-secondary};
        --colors-secondary-light: #{$colors-sad-secondary-light};
        --colors-secondary-very-light: #{$colors-sad-secondary-very-light};
        --colors-secondary-alpha: #{$colors-sad-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-sad-secondary-alpha-light};

        --colors-contrast: #{$colors-sad-contrast};
    }
}

@mixin theme-brutal {
    body.theme-brutal {
        --colors-primary: #{$colors-brutal};
        --colors-primary-light: #{$colors-brutal-primary-light};
        --colors-primary-very-light: #{$colors-brutal-primary-very-light};
        --colors-primary-alpha: #{$colors-brutal-primary-alpha};
        --colors-primary-alpha-light: #{$colors-brutal-primary-alpha-light};

        --colors-secondary: #{$colors-brutal-secondary};
        --colors-secondary-light: #{$colors-brutal-secondary-light};
        --colors-secondary-very-light: #{$colors-brutal-secondary-very-light};
        --colors-secondary-alpha: #{$colors-brutal-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-brutal-secondary-alpha-light};

        --colors-contrast: #{$colors-brutal-contrast};
    }
}

@mixin theme-love {
    body.theme-love {
        --colors-primary: #{$colors-love};
        --colors-primary-light: #{$colors-love-primary-light};
        --colors-primary-very-light: #{$colors-love-primary-very-light};
        --colors-primary-alpha: #{$colors-love-primary-alpha};
        --colors-primary-alpha-light: #{$colors-love-primary-alpha-light};

        --colors-secondary: #{$colors-love-secondary};
        --colors-secondary-light: #{$colors-love-secondary-light};
        --colors-secondary-very-light: #{$colors-love-secondary-very-light};
        --colors-secondary-alpha: #{$colors-love-secondary-alpha};
        --colors-secondary-alpha-light: #{$colors-love-secondary-alpha-light};

        --colors-contrast: #{$colors-love-contrast};
    }
}

@mixin themes {
    @include theme-main;
    @include theme-edgy;
    @include theme-classy;
    @include theme-ambition;
    @include theme-peace;
    @include theme-sad;
    @include theme-brutal;
    @include theme-love;
}
