@use "sass:color";

$colors-black: #000000;
$colors-dark-purple: #3e2a47;
$colors-brown: #7f5f5f;
$colors-purple: #5a2a83;
$colors-lavender: #8b6e8e;
$colors-blue: #4682b4;
$colors-tomato: #ff6347;
$colors-pink: #ffb6c1;

$colors-black-primary: $colors-black;
$colors-black-primary-light: color.adjust($colors-black, $lightness: 20%);
$colors-black-primary-very-light: color.adjust($colors-black, $lightness: 30%);
$colors-black-primary-alpha: rgba($colors-black, 0.7);
$colors-black-primary-alpha-light: rgba($colors-black, 0.5);
$colors-black-secondary: #ffffff;
$colors-black-secondary-light: color.adjust(#ffffff, $lightness: 20%);
$colors-black-secondary-very-light: color.adjust(#ffffff, $lightness: 30%);
$colors-black-secondary-alpha: rgba(#ffffff, 0.7);
$colors-black-secondary-alpha-light: rgba(#ffffff, 0.5);
$colors-black-contrast: $colors-tomato;

$colors-dark-purple-primary: $colors-dark-purple;
$colors-dark-purple-primary-light: color.adjust(
    $colors-dark-purple,
    $lightness: 20%
);
$colors-dark-purple-primary-very-light: color.adjust(
    $colors-dark-purple,
    $lightness: 30%
);
$colors-dark-purple-primary-alpha: rgba($colors-dark-purple, 0.7);
$colors-dark-purple-primary-alpha-light: rgba($colors-dark-purple, 0.5);
$colors-dark-purple-secondary: #f5f5f5;
$colors-dark-purple-secondary-light: color.adjust(#f5f5f5, $lightness: 20%);
$colors-dark-purple-secondary-very-light: color.adjust(
    #f5f5f5,
    $lightness: 30%
);
$colors-dark-purple-secondary-alpha: rgba(#f5f5f5, 0.7);
$colors-dark-purple-secondary-alpha-light: rgba(#f5f5f5, 0.5);
$colors-dark-purple-contrast: #ffd700;

$colors-brown-primary: $colors-brown;
$colors-brown-primary-light: color.adjust($colors-brown, $lightness: 20%);
$colors-brown-primary-very-light: color.adjust($colors-brown, $lightness: 30%);
$colors-brown-primary-alpha: rgba($colors-brown, 0.7);
$colors-brown-primary-alpha-light: rgba($colors-brown, 0.5);
$colors-brown-secondary: #b0e0e6;
$colors-brown-secondary-light: color.adjust(
    $colors-brown-secondary,
    $lightness: 20%
);
$colors-brown-secondary-very-light: color.adjust(
    $colors-brown-secondary,
    $lightness: 30%
);
$colors-brown-secondary-alpha: rgba($colors-brown-secondary, 0.7);
$colors-brown-secondary-alpha-light: rgba($colors-brown-secondary, 0.5);
$colors-brown-contrast: #ff4500;

$colors-purple-primary: $colors-purple;
$colors-purple-primary-light: color.adjust($colors-purple, $lightness: 20%);
$colors-purple-primary-very-light: color.adjust(
    $colors-purple,
    $lightness: 30%
);
$colors-purple-primary-alpha: rgba($colors-purple, 0.7);
$colors-purple-primary-alpha-light: rgba($colors-purple, 0.5);
$colors-purple-secondary: #f0e68c;
$colors-purple-secondary-light: color.adjust(
    $colors-purple-secondary,
    $lightness: 20%
);
$colors-purple-secondary-very-light: color.adjust(
    $colors-purple-secondary,
    $lightness: 30%
);
$colors-purple-secondary-alpha: rgba($colors-purple-secondary, 0.7);
$colors-purple-secondary-alpha-light: rgba($colors-purple-secondary, 0.5);
$colors-purple-contrast: #ff6347;

$colors-lavender-primary: $colors-lavender;
$colors-lavender-primary-light: color.adjust($colors-lavender, $lightness: 20%);
$colors-lavender-primary-very-light: color.adjust(
    $colors-lavender,
    $lightness: 30%
);
$colors-lavender-primary-alpha: rgba($colors-lavender, 0.7);
$colors-lavender-primary-alpha-light: rgba($colors-lavender, 0.5);
$colors-lavender-secondary: #e0ffff;
$colors-lavender-secondary-light: color.adjust(
    $colors-lavender-secondary,
    $lightness: 20%
);
$colors-lavender-secondary-very-light: color.adjust(
    $colors-lavender-secondary,
    $lightness: 30%
);
$colors-lavender-secondary-alpha: rgba($colors-lavender-secondary, 0.7);
$colors-lavender-secondary-alpha-light: rgba($colors-lavender-secondary, 0.5);
$colors-lavender-contrast: #ff1493;

$colors-blue-primary: $colors-blue;
$colors-blue-primary-light: color.adjust($colors-blue, $lightness: 20%);
$colors-blue-primary-very-light: color.adjust($colors-blue, $lightness: 30%);
$colors-blue-primary-alpha: rgba($colors-blue, 0.7);
$colors-blue-primary-alpha-light: rgba($colors-blue, 0.5);
$colors-blue-secondary: #add8e6;
$colors-blue-secondary-light: color.adjust(
    $colors-blue-secondary,
    $lightness: 20%
);
$colors-blue-secondary-very-light: color.adjust(
    $colors-blue-secondary,
    $lightness: 30%
);
$colors-blue-secondary-alpha: rgba($colors-blue-secondary, 0.7);
$colors-blue-secondary-alpha-light: rgba($colors-blue-secondary, 0.5);
$colors-blue-contrast: #ff4500;

$colors-tomato-primary: $colors-tomato;
$colors-tomato-primary-light: color.adjust($colors-tomato, $lightness: 20%);
$colors-tomato-primary-very-light: color.adjust(
    $colors-tomato,
    $lightness: 30%
);
$colors-tomato-primary-alpha: rgba($colors-tomato, 0.7);
$colors-tomato-primary-alpha-light: rgba($colors-tomato, 0.5);
$colors-tomato-secondary: #ffebcd;
$colors-tomato-secondary-light: color.adjust(
    $colors-tomato-secondary,
    $lightness: 20%
);
$colors-tomato-secondary-very-light: color.adjust(
    $colors-tomato-secondary,
    $lightness: 30%
);
$colors-tomato-secondary-alpha: rgba($colors-tomato-secondary, 0.7);
$colors-tomato-secondary-alpha-light: rgba($colors-tomato-secondary, 0.5);
$colors-tomato-contrast: #4682b4;

$colors-pink-primary: $colors-pink;
$colors-pink-primary-light: color.adjust($colors-pink, $lightness: 20%);
$colors-pink-primary-very-light: color.adjust($colors-pink, $lightness: 30%);
$colors-pink-primary-alpha: rgba($colors-pink, 0.7);
$colors-pink-primary-alpha-light: rgba($colors-pink, 0.5);
$colors-pink-secondary: #faebd7;
$colors-pink-secondary-light: color.adjust(
    $colors-pink-secondary,
    $lightness: 20%
);
$colors-pink-secondary-very-light: color.adjust(
    $colors-pink-secondary,
    $lightness: 30%
);
$colors-pink-secondary-alpha: rgba($colors-pink-secondary, 0.7);
$colors-pink-secondary-alpha-light: rgba($colors-pink-secondary, 0.5);
$colors-pink-contrast: #4682b4;

:root {
    --colors-primary: #{$colors-black-primary};
    --colors-primary-light: #{$colors-black-primary-light};
    --colors-primary-very-light: #{$colors-black-primary-very-light};
    --colors-primary-alpha: #{$colors-black-primary-alpha};
    --colors-primary-alpha-light: #{$colors-black-primary-alpha-light};
    --colors-secondary: #{$colors-black-secondary};
    --colors-secondary-light: #{$colors-black-secondary-light};
    --colors-secondary-very-light: #{$colors-black-secondary-very-light};
    --colors-secondary-alpha: #{$colors-black-secondary-alpha};
    --colors-secondary-alpha-light: #{$colors-black-secondary-alpha-light};
    --colors-contrast: #{$colors-black-contrast};
}

$colors-primary: var(--colors-primary);
$colors-primary-light: var(--colors-primary-light);
$colors-primary-very-light: var(--colors-primary-very-light);
$colors-primary-alpha: var(--colors-primary-alpha);
$colors-primary-alpha-light: var(--colors-primary-alpha-light);
$colors-secondary: var(--colors-secondary);
$colors-secondary-light: var(--colors-secondary-light);
$colors-secondary-very-light: var(--colors-secondary-very-lightrimary);
$colors-secondary-alpha: var(--colors-secondary-alpha);
$colors-secondary-alpha-light: var(--colors-secondary-alpha-light);
$colors-contrast: var(--colors-contrast);
